.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  position: relative;
  .header_center {
    font-size: 25px;
  }
  .header_left,
  .header_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .header_left {
    left: 0;
  }
  .header_right {
    right: 0;
  }
}


